package wishlist

import (
	"github.com/ErikJermanis/sib-web/views/layouts"
	"github.com/ErikJermanis/sib-web/db"
)

templ Index(data []db.RecordsDbRow) {
	@layouts.BaseLayout("SiB | Naša lista želja") {
		<div>
			@List(data)
			<form hx-post="/wishlist" class="w-full flex justify-center fixed bottom-0 left-0 pb-3">
				<input type="text" name="text" id="add-wish" placeholder="Dodaj novu želju" class="bg-night text-magnolia py-2 px-3 rounded-md w-11/12 block"/>
			</form>
		</div>
	}
}
