package wishlist

import (
	"github.com/ErikJermanis/sib-web/views/layouts"
	"github.com/ErikJermanis/sib-web/db"
)

templ Index(data []db.RecordsDbRow) {
	@layouts.BaseLayout() {
		<div>
			@List(data)
			<button hx-post="/wishlist" hx-target="#wishlist-list" hx-swap="afterbegin">dodaj</button>
		</div>
	}
}
