package wishlist

import (
	"github.com/ErikJermanis/sib-web/db"
)

templ List(data []db.RecordsDbRow) {
	<ul class="p-2 pb-16" id="wishlist-list">
		for _, row := range data {
			@ListItem(row)
		}
	</ul>
}
