package shoplist

import (
	"github.com/ErikJermanis/sib-web/db"
)

templ NewItem(data []db.ItemsDbRow) {
	<div hx-swap-oob="innerHTML:#items-list">
		for _, item := range data {
			@ListItem(item)
		}
	</div>
	<input type="text" name="item" id="new-item-input" class="ml-1 pl-1.5 w-full py-1 placeholder:text-magnoliaAccent2 bg-transparent" placeholder="nešto..."/>
}
